@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
body, html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  height: 76px;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  justify-content: flex-end;
  background-color: #f0efff;
  /*From: https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/*/
}

.nav__list {
  position: fixed;
  left: 0;
  top: 76px;
  background-color: #f0efff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 76px);
  width: 100%;
  padding-top: 55px;
  transform: translateX(101%);
  overflow: hidden;
  list-style: none;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.nav__list--open {
  transform: translateX(0%);
}

.nav__item {
  padding: 15px 0;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-size: 2.5em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.nav__link:hover {
  background-position: 0 100%;
}

.burger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .3s linear;
}

.burger:hover .burger__line,
.burger:hover .burger__line::before,
.burger:hover .burger__line::after {
  background: midnightblue;
}

.burger:hover .burger__line--open {
  background: transparent;
}

.burger__line {
  width: 20px;
  position: relative;
  transition: all .1s linear;
}

.burger__line, .burger__line::before, .burger__line::after {
  height: 2px;
  background: royalblue;
  border-radius: 5px;
}

.burger__line::before, .burger__line::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  right: 0;
  transition: all .2s linear;
}

.burger__line::before {
  transform: translateY(-8px);
}

.burger__line::after {
  transform: translateY(8px);
}

.burger__line--open {
  background: transparent;
}

.burger__line--open::before {
  transform: rotate(45deg);
}

.burger__line--open::after {
  transform: rotate(-45deg);
}

.landing-page {
  background-color: #f0efff;
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.landing-page__title {
  min-height: 130px;
  margin-bottom: 80px;
  color: royalblue;
  font-weight: 900;
  font-size: 9.66vw;
}

.landing-page__image {
  width: 90%;
  margin-bottom: 76px;
}

.landing-page__list {
  display: flex;
  list-style: none;
}

.landing-page__item:not(:last-child) {
  margin-right: 15px;
}

.landing-page__link {
  position: relative;
  display: inline-block;
  font-size: 2.5em;
  font-weight: 900;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.landing-page__link:hover {
  background-position: 0 100%;
}

.about {
  width: 85%;
  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.about__title {
  text-align: center;
}

.about__title--mini {
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: .3em;
  color: royalblue;
}

.about__title--big {
  font-size: 1.7em;
  margin-bottom: 25px;
}

.about__paragraph {
  font-weight: 300;
  font-size: 16px;
  color: gray;
  hyphens: auto;
  word-wrap: break-word;
  line-height: 25px;
  margin-bottom: 25px;
}

.about-info {
  display: flex;
  flex-direction: column;
}

.about-profile__title, .about-skills__title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}

.about-profile__title::after, .about-skills__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: royalblue;
  height: 2px;
  width: 35px;
}

.about-profile__paragraph, .about-skills__paragraph {
  font-weight: 300;
  font-size: 16px;
  color: gray;
  hyphens: auto;
  word-wrap: break-word;
  line-height: 25px;
  margin-bottom: 25px;
}

.about-profile__list, .about-skills__list {
  list-style: none;
}

.about-profile__item, .about-skills__item {
  margin-bottom: 20px;
  line-height: 18px;
}

.about-profile__strong, .about-skills__strong {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-profile {
  margin-bottom: 35px;
}

.about-profile__title::after {
  left: calc(50% - 44.525px);
}

.about-profile__span {
  display: block;
  color: gray;
  font-weight: 300;
}

.about-skills {
  margin-bottom: 35px;
}

.about-skills__title::after {
  left: calc(50% - 36.36px);
}

.about-skills__icon {
  color: royalblue;
  margin-right: 10px;
}

.about-skills__item {
  margin-bottom: 35px;
}

.about-buttons {
  display: flex;
  flex-direction: column;
}

.about-buttons__hire, .about-buttons__cv {
  display: block;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  margin-bottom: 15px;
  padding: 10px;
  border: 3px solid royalblue;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.about-buttons__hire {
  color: royalblue;
}

.about-buttons__hire:hover {
  color: white;
  background-color: royalblue;
}

.about-buttons__cv {
  color: white;
  background-color: royalblue;
}

.about-buttons__cv:hover {
  border-color: rgba(65, 105, 225, 0.5);
  background-color: rgba(65, 105, 225, 0.8);
}

.resumecontainer {
  width: 100%;
  background-color: #f0efff;
}

.resume {
  width: 85%;
  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
}

.resume__title {
  text-align: center;
}

.resume__title--mini {
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: .3em;
  color: royalblue;
}

.resume__title--big {
  font-size: 1.7em;
  margin-bottom: 25px;
}

.resume__paragraph {
  font-weight: 300;
  font-size: 16px;
  color: #686666;
  hyphens: auto;
  word-wrap: break-word;
  line-height: 25px;
  margin-bottom: 25px;
}

.education {
  width: 100%;
  margin-bottom: 25px;
}

.education__title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}

.education__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 65px);
  background-color: royalblue;
  height: 2px;
  width: 35px;
}

.education-timeline {
  position: relative;
}

.education-timeline::before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 10%;
}

.education-information {
  position: relative;
}

.education-information__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: #313131;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 15px;
  left: calc(10% - 20px);
  /*half of icon width*/
}

.education-information__header {
  padding-top: 15px;
  margin-left: 20%;
  margin-bottom: 25px;
  position: relative;
}

.education-information__header::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 35px;
  border-radius: 10px;
  background: rgba(104, 102, 102, 0.5);
}

.education-information__school {
  font-size: 18px;
}

.education-information__time {
  font-size: 14px;
  color: #686666;
}

.education-information__content {
  margin-left: 20%;
  padding-bottom: 15px;
}

.education-information__major {
  font-size: 16px;
  margin-bottom: 5px;
}

.education-information__description {
  font-size: 14px;
  font-weight: 300;
  color: #686666;
}

.education-information__link {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid royalblue;
  transition: all .2s linear;
}

.education-information__link:hover {
  color: royalblue;
}

.skills__title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}

.skills__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 36.36px);
  background-color: royalblue;
  height: 2px;
  width: 35px;
}

.skills-information-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.skills-information {
  margin-bottom: 20px;
}

.skills-information__title {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}

.skills-information__list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-information__item {
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 300;
  color: #686666;
  text-align: center;
}

.skills-information__item:not(:last-child) {
  margin-right: 10px;
}

.skills-information__icon {
  color: royalblue;
  margin-right: 3px;
}

.ticking {
  border-right: .05em solid;
  animation: caret 0.8s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@media screen and (min-width: 800px) {
  .landing-page__title {
    font-size: 7vw;
    height: 172px;
  }
  .landing-page__image {
    width: 75%;
  }
  .about {
    width: 75%;
  }
  .resume {
    width: 75%;
  }
  .skills-information-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .skills-information {
    width: 50%;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1000px) {
  .landing-page {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 70px 150px 70px;
    position: relative;
  }
  .landing-page__title {
    height: 184px;
    width: 700px;
    padding-top: 25px;
    font-size: 3.3em;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .landing-page__image {
    height: auto;
    width: 66%;
    margin-bottom: 0;
  }
  .landing-page__list {
    position: absolute;
    bottom: 25px;
  }
  .landing-page__item:not(:last-child) {
    margin-right: 25px;
  }
  .about__title--mini {
    font-size: 1.2em;
  }
  .about__title--big {
    font-size: 2em;
  }
  .about__paragraph {
    font-size: 18px;
  }
  .about-info {
    width: 100%;
    flex-direction: row;
  }
  .about-profile, .about-skills {
    width: 50%;
  }
  .about-profile__title, .about-skills__title {
    text-align: left;
    font-size: 20px;
  }
  .about-profile__title::after, .about-skills__title::after {
    left: 0;
  }
  .about-profile__paragraph, .about-skills__paragraph {
    font-size: 18px;
  }
  .about-profile {
    margin-right: 35px;
  }
  .about-buttons {
    flex-direction: row;
  }
  .about-buttons__hire, .about-buttons__cv {
    width: 50%;
  }
  .about-buttons__hire {
    margin-right: 20px;
  }
  .resume__title--mini {
    font-size: 1.2em;
  }
  .resume__title--big {
    font-size: 2em;
  }
  .resume__paragraph {
    font-size: 18px;
  }
  .education__title {
    font-size: 20px;
  }
  .education__title::after {
    left: calc(50% - 72.075px);
  }
  .education-information__icon {
    width: 50px;
    height: 50px;
    font-size: 18px;
    left: calc(10% - 25px);
  }
  .education-information__school {
    font-size: 20px;
  }
  .education-information__major {
    font-size: 18px;
  }
  .education-information__description {
    font-size: 16px;
  }
  .skills__title {
    font-size: 20px;
  }
  .skills-information__title {
    font-size: 20px;
  }
  .skills-information__item {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .landing-page__title {
    height: 345px;
    padding-top: 105px;
    font-size: 5em;
  }
  .landing-page__image {
    padding-top: 40px;
    height: 350px;
    width: auto;
  }
  .about {
    width: 55%;
  }
  .resume {
    width: 55%;
  }
}
