@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
$background-color: #f0efff;
$burger-color: royalblue;
$nav-height: 76px;
$primary-font-color: royalblue;
$primary-paragraph-color: gray;
$secondary-paragraph-color: #686666;
$hover-color: midnightblue;

@mixin links-styles($font-size, $font-weight) {
    position: relative;
    display: inline-block;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $primary-font-color;
    overflow: hidden;
    background: linear-gradient(to right, $hover-color, $hover-color 50%, $primary-font-color 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; // text decorations are clipped in WebKit browsers

    &:hover {
        background-position: 0 100%;
    }
}

@mixin paragraph($font-color) {
    font-weight: 300;
    font-size: 16px;
    color: $font-color;
    hyphens: auto;
    word-wrap: break-word;
    line-height: 25px;
    margin-bottom: 25px;
}

body, html {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    height: $nav-height;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: flex-end;
    background-color: $background-color;

    &__list {
        position: fixed;
        left: 0;
        top: $nav-height;
        background-color: $background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - #{$nav-height});
        width: 100%;
        padding-top: 55px;
        transform: translateX(101%);
        overflow: hidden;
        list-style: none;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &--open {
            transform: translateX(0%);
        }
    }

    &__item {
        padding: 15px 0;
    }

    /*From: https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/*/
    &__link {
        @include links-styles(2.5em, 800);
    }
}

.burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .3s linear;

    &:hover &__line,
    &:hover &__line::before,
    &:hover &__line::after {
        background: $hover-color;
    }

    &:hover &__line--open {
        background: transparent;
    }

    &__line {
        width: 20px;
        position: relative;
        transition: all .1s linear;

        &,
        &::before,
        &::after {
            height: 2px;
            background: $burger-color;
            border-radius: 5px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            right: 0;
            transition: all .2s linear;
        }

        &::before {
            transform: translateY(-8px);
        }

        &::after {
            transform: translateY(8px);
        }

        &--open {
            background: transparent;

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}

.landing-page {
    background-color: $background-color;
    height: calc(100vh - #{$nav-height});
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;


    &__title {
        min-height: 130px;
        margin-bottom: 80px;
        color: $primary-font-color;
        font-weight: 900;
        font-size: 9.66vw;
    }

    &__image {
        width: 90%;
        margin-bottom: $nav-height;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &__link {
        @include links-styles(2.5em, 900);
    }
}

.about {
    width: 85%;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 8rem;

    &__title {
        text-align: center;

        &--mini {
            font-size: .9em;
            text-transform: uppercase;
            letter-spacing: .3em;
            color: $primary-font-color;
        }

        &--big {
            font-size: 1.7em;
            margin-bottom: 25px;
        }
    }

    &__paragraph {
        @include paragraph($primary-paragraph-color);
    }

    &-info {
        display: flex;
        flex-direction: column;
    }

    &-profile,
    &-skills {
        &__title {
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: .15em;
            text-align: center;
            margin-bottom: 15px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                background-color: $primary-font-color;
                height: 2px;
                width: 35px;
            }
        }

        &__paragraph {
            @include paragraph($primary-paragraph-color);
        }
    
        &__list {
            list-style: none;
        }
    
        &__item {
            margin-bottom: 20px;
            line-height: 18px;
        }
    
        &__strong {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    &-profile {
        margin-bottom: 35px;

        &__title::after {
            left: calc(50% - 44.525px);
        }


        &__span {
            display: block;
            color: $primary-paragraph-color;
            font-weight: 300;
        }
    }

    &-skills {
        margin-bottom: 35px;

        &__title::after {
            left: calc(50% - 36.36px);
        }

        &__icon {
            color: $primary-font-color;
            margin-right: 10px;
        }

        &__item {
            margin-bottom: 35px;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: column;

        &__hire,
        &__cv {
            display: block;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: .15em;
            margin-bottom: 15px;
            padding: 10px;
            border: 3px solid $primary-font-color;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        &__hire {
            color: $primary-font-color;
            &:hover {
                color: white;
                background-color: $primary-font-color;
            }
        }

        &__cv {
            color: white;
            background-color: $primary-font-color;
            &:hover {
                border-color: rgba($primary-font-color, .5);
                background-color: rgba($primary-font-color, .8);
            }
        }
    }
}

.resumecontainer {
    width: 100%;
    background-color: $background-color;
}

.resume {
    width: 85%;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    position: relative;

    &__title {
        text-align: center;

        &--mini {
            font-size: .9em;
            text-transform: uppercase;
            letter-spacing: .3em;
            color: $primary-font-color;
        }

        &--big {
            font-size: 1.7em;
            margin-bottom: 25px;
        }
    }

    &__paragraph {
        @include paragraph($secondary-paragraph-color);
    }
}

.education {
    width: 100%;

    &__title {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: .15em;
        text-align: center;
        margin-bottom: 15px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: calc(50% - 65px);
            background-color: $primary-font-color;
            height: 2px;
            width: 35px;
        }
    }

    &-timeline {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 1px;
            height: 100%;
            background: rgba($color: #000000, $alpha: .3);
            position: absolute;
            top: 0;
            left: 10%;
        }
    }

    &-information {
        position: relative;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            background: #313131;
            border-radius: 50%;
            color: white;
            position: absolute;
            top: 15px;
            left: calc(10% - 20px); /*half of icon width*/
        }

        &__header {
            padding-top: 15px;
            margin-left: 20%;
            margin-bottom: 25px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 3px;
                width: 35px;
                border-radius: 10px;
                background: rgba($secondary-paragraph-color, $alpha: .5);
            }
        }

        &__school {
            font-size: 18px;
        }

        &__time {
            font-size: 14px;
            color: $secondary-paragraph-color;
        }

        &__content {
            margin-left: 20%;
            padding-bottom: 15px;
        }

        &__major {
            font-size: 16px;
            margin-bottom: 5px;
        }

        &__description {
            font-size: 14px;
            font-weight: 300;
            color: $secondary-paragraph-color;
        }

        &__link {
            text-decoration: none;
            color: inherit;
            border-bottom: 2px solid $primary-font-color;
            transition: all .2s linear;

            &:hover {
                color: $primary-font-color
            }
        }
    }
}

.ticking {
    border-right: .05em solid;
    animation: caret .8s steps(1) infinite;
}

@keyframes caret {
    50% {
      border-color: transparent;
    }
}

@media screen and (min-width: 800px) {
    .landing-page {
        &__title {
            font-size: 7vw;
            height: 172px;
        }

        &__image {
            width: 75%;
        }
    }

    .about {
        width: 75%;
    }

    .resume {
        width: 75%;
    }
}

@media screen and (min-width: 1000px) {
    .landing-page {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 70px 150px 70px;
        position: relative;

        &__title {
            height: 184px;
            width: 700px;
            padding-top: 25px;
            font-size: 3.3em;
            margin-right: 30px;
            margin-bottom: 0;
        }

        &__image {
            height: auto;
            width: 66%;
            margin-bottom: 0;
        }

        &__list {
            position: absolute;
            bottom: 25px;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }

    .about {
        &__title {
            &--mini {
                font-size: 1.2em;
            }

            &--big {
                font-size: 2em;
            }
        }

        &__paragraph {
            font-size: 18px;
        }

        &-info {
            width: 100%;
            flex-direction: row;
        }

        &-profile,
        &-skills {
            width: 50%;

            &__title {
                text-align: left;
                font-size: 20px;

                &::after {
                    left: 0;
                }
            }

            &__paragraph {
                font-size: 18px;
            }
        }

        &-profile {
            margin-right: 35px;
        }

        &-buttons {
            flex-direction: row;

            &__hire,
            &__cv {
                width: 50%;
            }

            &__hire {
                margin-right: 20px;
            }
        }
    }

    .resume {
        &__title {
            &--mini {
                font-size: 1.2em;
            }

            &--big {
                font-size: 2em;
            }
        }

        &__paragraph {
            font-size: 18px;
        }
    }

    .education {
        &__title {
            font-size: 20px;

            &::after {
                left: calc(50% - 72.075px);
            }
        }

        &-information {
            &__icon {
                width: 50px;
                height: 50px;
                font-size: 18px;
                left: calc(10% - 25px);
            }

            &__school {
                font-size: 20px;
            }

            &__major {
                font-size: 18px;
            }

            &__description {
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .landing-page {
        &__title {
            height: 345px;
            padding-top: 105px;
            font-size: 5em;
        }

        &__image {
            padding-top: 40px;
            height: 350px;
            width: auto;
        }
    }

    .about {
        width: 55%;
    }

    .resume {
        width: 55%;
    }
}