.btn {
    display: flex;
    justify-content: center;
    padding: $default-btn-padding;
    border-radius: $default-btn-radius;
    font-family: $font-inter;
    text-decoration: none;
    font-size: $uppercase-btn-font-size;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: $wide-letter-spacing;

    &--main, &--main-icon {
        background-color: $purple;
        color: $white;

        &:hover {
            background-color: $dark-purple;
        }
    }

    &--main-icon {
        display: inline-block;
        padding-right: 0;
        font-size: $lowercase-btn-font-size;
        text-transform: initial;
        letter-spacing: $narrow-letter-spacing;
    }

    &__icon {
        margin-left: 10px;
        padding-right: 18px;
    }

    &--secondary {
        background-color: $purple-terciary;
        color: $purple;
        
        &:hover {
            background-color: $purple-quaternary;
        }
    }
}