.btn {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;

    &--main {
        background-color: #4169E1;
        color: white;

        &:hover {
            background-color: #204ACB;
        }
    }
}