.form {
    &-container {
        position: relative;
        margin-bottom: 10px;
    }

    &__input {
        font-family: inherit;
        font-size: 16px;
        font-weight: 300;
        padding: 20px 15px;
        height: 60px;
        border: solid 1px #e0e6f7;
        width: 100%;
        transition: all .3s linear;
        border-radius: $default-radius;
        -webkit-appearance: none;

        &:focus {
            border-bottom: solid 2px $purple;
        }

        &:invalid {
            box-shadow: none;
            border-bottom: solid 3px #f97f7f;
        }

        &:not(:placeholder-shown) {
            padding-top: 35px;

            & + label {
                color: $dark-purple;
                font-weight: 400;
                transform: translateY(-10px);
                opacity: .7;
                z-index: 1;
            }
        }

        &--message {
            height: 155px;
        }
    }

    &__label {
        font-size: 12.5px;
        font-weight: 300;
        position: absolute;
        top: calc(50% - 9px);
        left: 16px;
        opacity: 0;
        transition: all .3s ease;
        z-index: -1;

        &--message {
            top: 15%
        }
    }

    &-loadingWrapper {
        display: flex;
        justify-content: center;
    }

    &__spinner {
        width: 80px;
    }
}