/* COLORS */
$purple: #4169E1;
$dark-purple: #204ACB; //primary-btn hover
$light-purple: #F0EFFF;
$purple-terciary: #EAEEFD; //secondary-btn
$purple-quaternary: #D3DCFA; //secondary-btn hover
$black: #333;
$grey: #686666;
$light-grey: #808080;
$white: #FFF;

/* BUTTONS MEASUREMENTS */
$default-btn-padding: 10px 25px;
$lowercase-btn-font-size: 15px;
$uppercase-btn-font-size: 14px;
$default-btn-shadow: 2px 5px 5px rgba(33,33,33,.2);
$btn-radius: 5px;

/* GENERAL MEASUREMENTS */
$narrow-letter-spacing: -.02em;
$wide-letter-spacing: .1em;
$default-radius: .375rem;

/* TYPOGRAPHY */
$font-poppins: 'Poppins', Arial, Helvetica, sans-serif;
$font-inter: 'Inter', 'Poppins', Arial, Helvetica, sans-serif;

/* GENERAL USE */
$transition-nav: all .1s ease-in-out;