@import '../components/gallery';

.projects {
    &-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;

        &__image {
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            height: 0;
            padding-top: 150%; /*(height/width)*100*/
            object-fit: cover;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(black, $alpha: .6);
                opacity: 0;
                transition: opacity .5s;
            }
        }

        &__title,
        &__paragraph {
            z-index: 1;
            opacity: 0;
            transition: opacity .5s;
        }

        &__title {
            margin-top: -150%;
            font-size: 20px;
            color: white;
        }

        &__paragraph {
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: .15em;
            color: rgba(white, $alpha: .6);
        }

        &__image:hover::before,
        &__image:hover &__title,
        &__image:hover &__paragraph {
            opacity: 1;
        }
    }
}

#NailGarden {
    background-image: url('../assets/nail-garden.jpg');
}

#MultiCare {
    background-image: url('../assets/sistema-multicare.jpg');
}

#Rosales {
    background-image: url('../assets/farmacia-rosales.jpg');
}

#Connect {
    background-image: url('../assets/connect-four.jpg');
}

@media screen and (min-width: 600px) {
    .projects {
        &-gallery {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}