.nav {
    display: flex;
    height: $nav-height;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: flex-end;
    background-color: $background-color;

    &__list {
        position: fixed;
        left: 0;
        top: $nav-height;
        background-color: $background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - #{$nav-height});
        width: 100%;
        padding-top: 55px;
        transform: translateX(101%);
        overflow: hidden;
        list-style: none;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &--open {
            transform: translateX(0%);
        }
    }

    &__item {
        padding: 15px 0;
    }

    /*From: https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/*/
    &__link {
        @include links-styles(2.5em, 800);
    }
}