.resume {
    position: relative;

    &__paragraph {
        @include paragraph($secondary-paragraph-color);
    }

    &-education {
        width: 100%;
        margin-bottom: 25px;
    
        &__title {
            @include subcontainer-title;
    
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: calc(50% - 65px);
                background-color: $primary-font-color;
                height: $line-height;
                width: $subtitle-line-width;
            }
        }
    
        &-timeline {
            position: relative;
    
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background: rgba($color: #000000, $alpha: .3);
                position: absolute;
                top: 0;
                left: 10%;
            }
        }
    
        &-information {
            position: relative;
    
            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                background: #313131;
                border-radius: 50%;
                color: $timeline-icon-color;
                position: absolute;
                top: 15px;
                left: calc(10% - 20px); /*half of icon width*/
            }
    
            &__header {
                padding-top: 15px;
                margin-left: 20%;
                margin-bottom: 25px;
                position: relative;
    
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    height: 3px;
                    width: 35px;
                    border-radius: 10px;
                    background: rgba($secondary-paragraph-color, $alpha: .5);
                }
            }
    
            &__school {
                font-size: 18px;
            }
    
            &__time {
                font-size: 14px;
                color: $secondary-paragraph-color;
            }
    
            &__content {
                margin-left: 20%;
                padding-bottom: 15px;
            }
    
            &__major {
                font-size: 16px;
                margin-bottom: 5px;
            }
    
            &__description {
                font-size: 14px;
                font-weight: 300;
                color: $secondary-paragraph-color;
            }
    
            &__link {
                text-decoration: none;
                color: inherit;
                border-bottom: 2px solid $primary-font-color;
                transition: all .2s linear;
    
                &:hover {
                    color: $primary-font-color
                }
            }
        }
    }

    &-skills {
        &__title {
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: .15em;
            text-align: center;
            margin-bottom: 15px;
            position: relative;
    
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: calc(50% - 36.36px);
                background-color: $primary-font-color;
                height: 2px;
                width: 35px;
            }
        }
    
        &-information {
            &-container {
                width: 100%;
                display: grid;
                justify-items: center;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                grid-template-areas: 'skills-1 skills-1 skills-1' 'skills-2 skills-2 skills-2' 'skills-3 skills-3 skills-3' 'skills-4 skills-4 skills-4' 'skills-5 skills-5 skills-5' 'skills-6 skills-6 skills-6';
            }
            margin-bottom: 20px;
    
            &__title {
                font-size: 18px;
                margin-bottom: 5px;
                text-align: center;
            }
    
            &__list {
                list-style: none;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
    
            &__item {
                font-size: 14px;
                font-weight: 300;
                color: $secondary-paragraph-color;
                text-align: center;
    
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
    
            &__icon {
                color: $primary-font-color;
                margin-right: 3px;
            }

            &--1 {
                grid-area: skills-1;
            }

            &--2 {
                grid-area: skills-2;
            }

            &--3 {
                grid-area: skills-3;
            }
            
            &--4 {
                grid-area: skills-4;
            }

            &--5 {
                grid-area: skills-5;
            }

            &--6 {
                grid-area: skills-6;
            }
        }
    }
}