.about,
.resume,
.projects,
.contact {
    width: 85%;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 8rem;

    &__title {
        text-align: center;

        &--mini {
            font-size: .9em;
            text-transform: uppercase;
            letter-spacing: .3em;
            color: $primary-font-color;
        }

        &--big {
            font-size: 1.7em;
            margin-bottom: 25px;
        }
    }
}

.resumecontainer,
.contactcontainer {
    width: 100%;
    background-color: $background-color;
}