@mixin links-styles($font-size, $font-weight) {
    position: relative;
    display: inline-block;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $primary-font-color;
    overflow: hidden;
    background: linear-gradient(to right, $hover-color, $hover-color 50%, $primary-font-color 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; // text decorations are clipped in WebKit browsers

    &:hover {
        background-position: 0 100%;
    }
}

@mixin paragraph($font-color) {
    font-weight: 300;
    font-size: 16px;
    color: $font-color;
    hyphens: auto;
    word-wrap: break-word;
    line-height: 25px;
    margin-bottom: 25px;
}

@mixin subcontainer-title {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .15em;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
}