$background-color: #f0efff;
$burger-color: royalblue;
$burger-size: 40px;
$nav-height: 76px;
$line-height: 2px;
$subtitle-line-width: 35px;
$primary-font-color: royalblue;
$secondary-font-color: white;
$primary-paragraph-color: gray;
$secondary-paragraph-color: #686666;
$hover-color: midnightblue;
$timeline-icon-color: white;
$gallery-font-color: white;
$secondary-article-width: 75%;
$terciary-article-width: 55%;